!!!DOCTYPE
%html
  %head
    %title Praemium
    = csrf_meta_tags
    %meta{ :name=>"viewport", :content=>"width=device-width, initial-scale=1.0"}
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    
    :javascript
      $(document).ready(function(){
        $('.modal').modal();
        $('.parallax').parallax();
        $('.collapsible').collapsible();
        $('.carousel-slider').slider({full_width: true});//slider init
        $('.carousel').carousel();
        $(".button-collapse").sideNav();
        $('.scrollspy').scrollSpy();
      });
      $( window ).load(function() {
        $('.parallax').parallax();
        $('.carousel').carousel();
        $(".button-collapse").sideNav();
        $('.carousel-slider').slider({full_width: true});//slider init
        $('.scrollspy').scrollSpy();
        $('.modal').modal();
      });



    %link{:rel=>"manifest", :href=>"#{asset_path "manifest.json"} "}
  %body
    =render partial: "layouts/sidenav"
    =render partial: "layouts/praemium_nav"


    .row.center-xs
      -unless notice==nil
        
        -if notice[0,2]=="**"
          .card.red
            %h1.white-text <i class="material-icons">error</i> Ocurrió un error

            %strong.white-text
              =notice
          #noticia.modal.modal-fixed-footer
            .modal-content
              %h4 Epa! Hubo un error
              %p
                =notice
            .modal-footer.center
              %a.modal-action.modal-close.waves-effect.btn-flat Cerrar
            %script
              noticia.open();
        -else
          .chip.center
            = notice
    .container
      .row
        -if @cards.count != 0
          .col-sm-12.center
            %h1 Tarjetas registradas
          - @cards.each do |card|
            - companyName = @company_names.find_by(id: card.company_id).name
            .col-xs-12.col-sm-6.col-md-4
              .card
                .card-image.waves-effect.waves-block.waves-light
                  =image_tag(@company_names.find_by(id: card.company_id).cover.url(:medium), :alt => "Portada de #{companyName}", :class=> "activator", :height => "150px", :width => "300px")
                .card-content
                  %span.card-title.activator.grey-text.text-darken-4
                    = companyName
                    .chip #{card.client.to_s}
                    %i.material-icons.right more_vert
                  %p.center
                    Saldo: $
                    = (card.credit1.to_f)/100
                    /-if card.credit2_enabled?
                    | Puntos: 
                    = card.credit2
                /.card-content.white-text.turquesa
                /  %ul
                /    %li
                /    /%li.center
                /    /  - cod = card.country.to_s + card.number.to_s
                /    /  - cbar = Barby::EAN13.new(cod)
                /    /  = image_tag(cbar.to_image.to_data_url)
                /    /%li.center
                /    /  = cbar
                .card-reveal
                  %span.card-title.grey-text.text-darken-4
                    =companyName
                    %i.material-icons.right close
                  
                  .collection
                    = link_to 'Movimientos', company_card_transactions_path(card.company,card.id), :class=>"collection-item"
                    = link_to 'Baja', company_card_transactions_path(card.company,card.id), :class=>"collection-item"
                    = link_to 'Configuración', company_card_transactions_path(card.company,card.id), :class=>"collection-item" 
                    = link_to 'Tienda', company_path(card.company), :class=>"collection-item"
      .row.center-md  
        -if @companies.count != 0
          .col-sm-12.center
            %h1 Gestión de empresas
          - @companies.each do |company|
            .col-sm-12.col-md-4.center-xs
              = link_to company.name, company_path(:id=> company.id), :class=> "btn"
      =render partial: "layouts/add_card"        
    =render partial: "layouts/footer"
    