!!!DOCTYPE
%html
  %head
    %title Praemium
    = csrf_meta_tags

    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'



  %body
    -if @cards.count != 0
      %h1 Tarjetas registradas
      - @cards.each do |card|
        %ul
          %li
            = @company_names[card.company_id].name
          %li
            N de cliente:
            = card.client
          %li
            Saldo: 
            = card.credit1
          %li
            -if card.credit2_enabled?
              Saldo 2:
              = card.credit2
    -if @companies.count != 0
      %h1 Gestión de empresas
      - @companies.each do |company|
        %p
          = link_to company.name, company_path(:id=> company.id)

    %h2
      =link_to "Cerrar sesión", destroy_user_session_path, method: :delete