!!!DOCTYPE
%html
  %head
    %title Praemium
    = csrf_meta_tags

    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    %script
      $(document).ready(function(){
      $('.modal').modal();
      });


    %link{:rel=>"manifest", :href=>"#{asset_path "manifest.json.erb"} "}
  %body
    %nav
      .nav-wrapper.white
        .brand-logo.center
          =link_to image_tag("logoh.png", :width => 250), root_path
  
        -if user_signed_in?
          %ul#nav-mobile.right.black
            %a.dropdown-button{:href=>'#', "data-activates"=>'dropdown1'}
              %i.material-icons menu
            
        -else
          %ul.right.hide-on-med-and-down
            %li
              =link_to "Iniciar sesión", new_user_session_path

    =render partial: "layouts/sidenav"
    .container
      .row.center
        -unless notice==nil
          
          -if notice[0,2]=="**"
            .card.red
              %h1.white-text <i class="material-icons">error</i> Ocurrió un error

              %strong.white-text
                =notice
            #noticia.modal.modal-fixed-footer
              .modal-content
                %h4 Epa! Hubo un error
                %p
                  =notice
              .modal-footer.center
                %a.modal-action.modal-close.waves-effect.btn-flat Cerrar
              %script
                noticia.open();
          -else
            .chip.center
              = notice
    .container
      .row
        -if @cards.count != 0
          .col.m12.l9
            %h1 Tarjetas registradas
            - @cards.each do |card|
              .card  
                .card-content.white-text.turquesa
                  %ul
                    %li.texto-negro.center.big
                      = @company_names.find_by(id: card.company_id).name
                    %li
                      -if card.credit2_enabled?
                        Saldo 2:
                        = card.credit2
                    %li.center
                      - cod = card.country.to_s + card.number.to_s
                      - cbar = Barby::EAN13.new(cod)
                      = image_tag(cbar.to_image.to_data_url)
                    %li.center
                      = cbar
                .card-actions.center
                  .big
                    Saldo: $
                    = (card.credit1.to_f)/100
                  = link_to 'Movimientos', company_card_transactions_path(card.company,card.id), :class=>"btn"

 

        -if @companies.count != 0
          .col.m12.l6
            %h1 Gestión de empresas
            - @companies.each do |company|
              %p
                = link_to company.name, company_path(:id=> company.id), :class=> "btn"
      .row  
        .col.m12.l6
          .card
            = form_tag(asignar_path, method: "post") do
              .card-title.black.white-text.center
                Añadir tarjeta
              .card-content
                = label_tag(:num, "Número de tarjeta (13 dígitos):")
                = text_field_tag(:num)
                = label_tag(:pin, "PIN:")
                = text_field_tag(:pin)
              .card-actions
                = submit_tag("Añadir", :class=>"btn")
    
    =render partial: "layouts/footer"
    