!!!DOCTYPE
%html
  %head
    %title Praemium
    = csrf_meta_tags

    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'



  %body
    %nav
      .nav-wrapper.white
        .brand-logo.center
          =image_tag("logoh.png", :width => 250)

        -if user_signed_in?
          %ul#nav-mobile.right.hide-on-med-and-down
            %li
              =link_to "Cerrar sesión", destroy_user_session_path, method: :delete, class: "btn"
            %li
              =link_to "Perfil", user_path(current_user.id), class: "btn" # Cerrar sesión
        -else
          %ul.right.hide-on-med-and-down
            %li
              =link_to "Iniciar sesión", new_user_session_path


    .container
      .row.center
        -unless notice==nil
          .chip.center
            = notice
    .container
      .row
        -if @cards.count != 0
          .col.s12.m6
            %h1 Tarjetas registradas
            - @cards.each do |card|
              .card  
                .card-content.white-text.teal
                  %ul
                    %li
                      = @company_names.find_by(id: card.company_id).name
                    %li
                      N de cliente:
                      = card.client
                    %li
                      Saldo: 
                      = card.credit1
                    %li
                      -if card.credit2_enabled?
                        Saldo 2:
                        = card.credit2
                .card-actions.center
                  = link_to 'Movimientos', company_card_transactions_path(card.company,card.id), :class=>"btn"

        -if @companies.count != 0
          .col.s12.m6
            %h1 Gestión de empresas
            - @companies.each do |company|
              %p
                = link_to company.name, company_path(:id=> company.id), :class=> "btn"
      .row  
        .col.s12.m6
          .card
            = form_tag(asignar_path, method: "post") do
              .card-title.black.white-text.center
                Añadir tarjeta
              .card-content
                = label_tag(:num, "Número de tarjeta (13 dígitos):")
                = text_field_tag(:num)
                = label_tag(:pin, "PIN:")
                = text_field_tag(:pin)
              .card-actions
                = submit_tag("Añadir", :class=>"btn")
