%html
  %head
    %title Praemium
    = csrf_meta_tags

    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = favicon_link_tag
    :javascript
      $(document).ready(function(){
        $('.parallax').parallax();
      });

  %body
    %nav
      .nav-wrapper.white
        .brand-logo.center
          = image_tag("logoh.png", width: "260")
        %ul#nav-mobile.right.hide-on-med-and-down
          %li
            %a.waves-effect.waves-light.btn{:href=>'\users\sign_in'} Iniciar sesión
    .parallax-container
      .parallax
        = image_tag "02.jpg"
    .container
      .row.center
        -unless notice==nil
          .chip.center
            = notice
    .row.separador
      .container
        .col.m6.s12
          %h5 Tu sistema de bonificaciones y prepagos en 24 horas
          %p
            A sólo <strong>$999</strong> por mes.
            %br
            %small Pesos argentinos
          %p Costos iniciales bonificados <del><strong>$2499</strong></del> <strong>$0</strong>
          %a.waves-effect.waves-light.btn Prueba gratuita
        .col.m6.hide-on-small-only.responsive-img.materialboxed
          -#= image_tag "01.jpg", :width=>'450'
    .row.transparencia
      .parallax-container.center
        .col.m12.s12
          %h5 ¿Ya contás con un sistema <span class="logo-embed">Praemium</span>?
          %a.waves-effect.waves-light.btn{:href=>'\users\sign_in'} Iniciar sesión
        .parallax
          = image_tag "par2.jpg"
    .row.separador
      .container
        .col.m8.s12
          %h5 Si sos cliente de un comercio adherido a <span class="logo-embed">Praemium</span>...
          .col.m6.s12
            %a.waves-effect.waves-light.btn{:href=>'\users\sign_in'} Iniciar sesión
          .col.m6.s12
            %a.waves-effect.waves-light.btn Registrar tarjeta
        .col.m4.hide-on-small-only
          .materialboxed.responsive-img
            = image_tag "03.jpg", :width=>'450'