!!!! 5
%html
  %head
    %title Praemium
    = csrf_meta_tags
    %meta{ :name=>"viewport", :content=>"width=device-width, initial-scale=1.0"}
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = favicon_link_tag
    :javascript
      $(document).ready(function(){
      $('.modal').modal();
      });
  %body.bg
    %header
      .row.bigp.nom.valign-wrapper
        .col.s12.center
          = image_tag("logoh.png", width: "260")
          %br
          %strong.texto-azul
            Clientes leales
        .col.s12.texto-azul.hide-on-med-and-down
          .grantexto Reforzá el vínculo con tus clientes, para que vuelvan a elegirte siempre.
    %main
      .row.bigp.azul.nom.texto-turquesa-normal
        .col.m12.l6.center
          %h1.texto-blanco Tengo una tarjeta de un comercio adherido
          %a.waves-effect.waves-light.btn{:href=>'\users\sign_up'} Registrar tarjeta
          %p O si ya tenés cuenta en Praemium...
          %a.waves-effect.waves-light.btn{:href=>'\users\sign_in'} Iniciar sesión
        .col.m12.l6.center.valign
          %h1.texto-blanco Lo quiero en mi negocio
          %h5 Tu sistema de bonificaciones y prepagos en 24 horas
          %p
            A sólo <span class="money">$1249</span> por mes.
            %br
            %small Pesos argentinos
          %p
            Costos iniciales bonificados <br><del><strong>$2499</strong></del> <span class="money">$0</span>
            %br
            %small Pesos argentinos          
          %a.waves-effect.waves-light.btn Prueba gratuita
        
    =render partial: "layouts/footer"