.row
- unless notice==nil
  .chip.center.red.white-text
    =notice
- unless alert==nil
  .chip.center.red.white-text
    =alert
.container
  .row.middle-xs
    .col.s12.z-depth-3.center.transparenciafuerte
      .row.center-xs.middle-xs
        .col.m11.s9
          %h5
            Crear cuenta
            %span.hide-on-small-only en <span class="texto-negro">praemium</span>
        .col.m1.s3.right
          =link_to raw("<i class='material-icons'>close</i>"), :back, :class=>"black-text"
      .col.s12
        = link_to "Ingresar con Facebook", user_facebook_omniauth_authorize_path, :class => "waves-effect waves-light btn azulFb"
      .col.s12
        = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
          = devise_error_messages!
          -#
            .field
              %h2 Nombre
              %br/
              = f.text_field :name, :class=>"blue lighten-5"
            .field
              %h2 Apellido
              %br/
              = f.text_field :last_name, :class=>"blue lighten-5"
            .field
              = f.label :birth_date, "Fecha de nacimiento", :class=>"blue lighten-5"
              %br/
              = f.date_field :birth_date, :class=>"blue lighten-5"
            .field
              = f.label :dni, "DNI", :class=>"blue lighten-5"
              %br/
              = f.text_field :dni, :class=>"blue lighten-5"

          .field
            %h2 Correo electr칩nico:
            %br/
            = f.email_field :email, autocomplete: "email", :class=>"blue lighten-5"
          .field
            %h2 Contrase침a: 
            - if @minimum_password_length
              %em
                (Al menos #{@minimum_password_length} caracteres)
            %br/
            = f.password_field :password, autocomplete: "off", :class=>"blue lighten-5"
          .field
            %h2 Confirmar contrase침a:
          .field
            = f.password_field :password_confirmation, autocomplete: "off", :class=>"blue lighten-5"
          .row.center.center-xs
            
            = flash[:alert]
            = recaptcha_tags
          .card-action.center
            = f.submit "Registrar", :class => "btn"
          .card-action
            = render "devise/shared/links"
          .col-xs-12.bigmargin.bigpadding
            =image_tag("logoh", :height=> "25", :alt => "Logo de Praemium. Fidelizaci칩n, tienda online en 5 minutos, LEALTAD de clientes")

