<div class="container">
  <div class="card">
<%= form_with(model: company, local: true, html: { multipart: true }) do |form| %>
  <% if company.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(company.errors.count, "error") %> prohibited this company from being saved:</h2>

      <ul>
      <% company.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :company_name %>
  </div>

  <div class="field">
    <%= form.label :url %>
    <%= form.text_field :url, id: :company_url %>
  </div>

  <div class="field">
    <%= form.label :admin %>
    <%= form.number_field :admin, id: :company_admin %>
  </div>

  <div class="field">
    <%= form.label :clientcount %>
    <%= form.number_field :clientcount, id: :company_clientcount %>
  </div>

  <div class="field">
    <%= form.label :employers %>
    <%= form.text_field :employers, id: :company_employers %>
  </div>

  <div class="field">
    <%= form.label :alias %>
    <%= form.text_field :alias, id: :company_alias %>
  </div>
  <div>Imagen actual
    <%= image_tag @company.cover.url(:medium) %>
  </div>
 <div class="field">
    Cambiar imagen
    <%= form.label :cover %>
    <%= form.file_field :cover %>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
</div></div>