.container.z-depth-3
  .row

    .col.s12
      %h1.center <i class="material-icons">add_shopping_cart</i> Comercio creado correctamente
      .big Listo #{current_user.name}!
      Tu comercio #{@company.name} está creado y ya te asignamos los permisos para que lo edites. También te creamos 10 tarjetas completamente gratis, para que comiences a probar tu servicio.
  .row
    .col.s12.m6
      %h2.center Acceso
      La URL para acceder al mismo es
      %a{:href=>"https://www.praemium.com.ar/companies/#{@company.id}", :target=>"_blank"} https://www.praemium.com.ar/companies/#{@company.id}
      =link_to company_path(@company), company_path(@company)

    .col.s12.m6
      %p
        Podés solicitarnos un cambio.... algo así como 
        %span.blue-text www.praemium.com.ar/#{@company.name.delete(' ')}
      %p
        O bien registrar un dominio propio (quizás 
        %span.blue-text www.#{@company.name.delete(' ')}.com
        )y pedirnos que lo redireccionemos a tu página
        %span.texto-verde Praemium
  .row.center
    .col.s12 Si accedés a tu página con la sesión iniciada, podrás editarla y gestionar tu comercio, pero el resto de las personas sólo verán tu página, sin opciones de edición.
  .row
    .col.s12
      %h2 Qué queda por hacer?
    .col.s12
      %ol
        %li Imprimir credenciales de tarjetas, para entregar a tus clientes.
        %li Disfrutar de los servicios completamente gratis!
        %li Si te gustó el servicio y querés contratar Praemium, adheríte desde cualquiera de los dos botones. Un representante se comunicará con vos para ultimar detalles y asistirte en lo que necesites, y en menos de un día hábil tendrás el sistema completo funcionando!
    .col.s12.center
      =render partial: "suscription"
      %a.btn{:href=>"http://mpago.la/1HKD1h"} Suscribirme