:javascript
  $(document).ready(function(){
    $('ul.tabs').tabs();
    swipeable : true,
    responsiveThreshold : 150
    $('.collapsible').collapsible();
  });


%nav
  %div{:class=>"nav-wrapper green darken-4"}
    .row
      .col.s3
        .logo Praemium
      .col.s9
        %a{:href=>"#", :class=>"brand-logo center"}= @company.name



.container
  .row
    %p{:id=>"notice" }
  .row
    .col.s12
      %ul{:id=>"tabs-swipe-demo", :class=>"tabs"}
        %li{:class=>"tab col s3"}
          %a{:href=>"#tab-1", :class=>"active"}Créditos/Débitos
        %li{:class=>"tab col s3"}
          %a{:href=>"#informes"}Alta de tarjeta
        %li{:class=>"tab col s3"}
          %a{:href=>"#clientes"}Clientes
      %div{:id=>"tab-1", :class=>"col s12 green lighten-3"}

        %ul{:class=>'collapsible', :data-collapsible=>'accordion'}
          %li
            .collapsible-header
              %i.material-icons filter_drama
              Escanear código de barras
            .collapsible-body
              .row.center
                =form_tag do
                  .input-field.col.s9
                    %i{:class=>"material-icons prefix"} credit_card
                    = label_tag(:icon_prefix, "Código de barras", :class=>"icon_prefix")
                    = text_field_tag(:icon_prefix,"", class: "validate")
                  .col.s3
                    = submit_tag("Buscar",:class=>"waves-effect waves-light btn")
        %ul{:class=>'collapsible', :data-collapsible=>'accordion'}
          %li
            .collapsible-header.active
              %i.material-icons filter_drama
              Introducir datos manualmente
            .collapsible-body
              =form_tag do
                .row
                  .input-field
                    Código de país: 779 [ARGENTINA]
                  .input-field
                    Compañía:
                    = @company.id
                    [
                    =@company.name
                    ]
                  .input-field
                    = label_tag(:clientnum, "Número de cliente", :class=>"icon_prefix")
                    = text_field_tag(:clientnum,"", class: "validate")
                  .input-field
                    %p1
                  = submit_tag("Buscar",:class=>"waves-effect waves-light btn")

      %div{:id=>"informes", :class=>"col s12 blue lighten-4"}
        .row.center
        .row.center
          =form_tag do
            .row.center
              .input-field.col.s9
                %i{:class=>"material-icons prefix"} credit_card
                = label_tag(:icon_prefix, "Escanear código o escribir número de tarjeta", :class=>"icon_prefix")
                = text_field_tag(:icon_prefix,"", class: "validate")
              .col.s3
                -# =link_to 'Dar de alta', new_company_client_path(@company),:class=>"waves-effect waves-light btn"
      %div{:id=>"clientes", :class=>"col s12 blue lighten-5"}
        %p Listado de clientes




-# Comparar si = @company.admin = usuarioactual, y mostrar opciones de administración
-# = link_to 'Edit', edit_company_path(@company)
-# = link_to 'Atrás', companies_path
-# Comparar si alguno de los = @company.employers = usuarioactual, y mostrar opciones de administración para empleados