<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @company.name %>
</p>

<p>
  <strong>Url:</strong>
  <%= @company.url %>
</p>

<p>
  <strong>Admin:</strong>
  <%= @company.admin %>
</p>

<p>
  <strong>Clientcount:</strong>
  <%= @company.clientcount %>
</p>

<p>
  <strong>Employers:</strong>
  <%= @company.employers %>
</p>

TARJETAS:
Créditos / Débitos.
Dar de alta.
Encargar.

PERFIL: Modificar

INFORMES

TIENDA

CLIENTES


<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
