#fb-root
.container
  .row.verticaltotal.middle-xs
    .col.m12.z-depth-3.center.transparenciafuerte
      .col.m12.center-xs
        %h1 Iniciar sesi칩n
        / =image_tag("logoh.png", width: 200)
      = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        .row.col.m12
          %h2 Correo electr칩nico
         
          
          = f.email_field :email, autofocus: true, autocomplete: "email"
        .row.col.m12
          %h2 Contrase침a
          
          = f.password_field :password, autocomplete: "off"

        - if devise_mapping.rememberable?
          .row.col.m12
            = f.check_box :remember_me
            = f.label :remember_me
        .center
          = f.submit "Iniciar sesi칩n", :class => "btn"
        .center
          .fb-login-button{"data-max-rows"=>"1", "data-size"=>"large", "data-button-type"=>"login_with", "data-show-faces"=>"true", "data-auto-logout-link"=>"false", "data-use-continue-as"=>"false"}
        .card-action
          = render "devise/shared/links"
