.row
- unless notice==nil
  .chip.center.red.white-text
    =notice
- unless alert==nil
  .chip.center.red.white-text
    =alert
.container.middle-xs
  
  .row.middle-xs.center-xs.z-depth-3.transparenciafuerte
    /.row.center-xs.middle-xs.teal.lighten-5
    .col.m11.s9
      %h5
        Iniciar sesión
        %span.hide-on-small-only en <span class="texto-negro">praemium</span>
    .col.m1.s3.right
      =link_to raw("<i class='material-icons'>close</i>"), :back, :class=>"black-text"
    
    
    .col-xs-12
      = link_to "Ingresar con Facebook", user_facebook_omniauth_authorize_path, :class => "waves-effect waves-light btn azulFb"
    .col-xs-12
      = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        .col-xs-12
          %h2 Correo electrónico
         
          
          = f.email_field :email, autofocus: true, autocomplete: "email", :class=>"blue lighten-5"
        .col-xs-12
          %h2 Contraseña
          
          = f.password_field :password, autocomplete: "off", :class=>"blue lighten-5"

        - if devise_mapping.rememberable?
          .col-xs-12
            = f.check_box :remember_me
            = f.label :remember_me
        .col-xs-12
          = hidden_field_tag :redirect_to, params[:redirect_to]
          = f.submit "Iniciar sesión", :class => "btn"
        .col-xs-12
          .fb-login-button{"data-max-rows"=>"1", "data-size"=>"large", "data-button-type"=>"login_with", "data-show-faces"=>"true", "data-auto-logout-link"=>"false", "data-use-continue-as"=>"false"}
        .col-xs-12
          = render "devise/shared/links"
        .col-xs-12.bigmargin.bigpadding
          =image_tag("logoh", :height=> "25", :alt => "Logo de Praemium. Fidelización, tienda online en 5 minutos, LEALTAD de clientes")
            
