
.row.center-xs
  .col.s12.m6
    .card.center
      .card-content
        .card-title
          %h2 SALDO ACTUAL
        .card-actions
          %i.material-icons.medium monetization_on
          %span.money
            = @card.credit1
  .col.s12.m6
    .card
      .card-content

        .card-title
          %h2 ESTADO
          =form_for @card, :url => {:action => "update"} do |form|
            .row.center-xs
              -# = form.label(:status, "Estado (INGRESE 1 PARA ACTIVAR)")
              -# = form.text_field(:status)
              .input-field.col.s12.fixed
                = form.radio_button(:status, "0")
                = form.label(:status_0, "Inactiva")
              .input-field.col.s12.fixed
                = form.radio_button(:status, "1")
                = form.label(:status_1, "Activada")
              .input-field.col.s12.fixed
                = form.radio_button(:status, "2")
                = form.label(:status_2, "Robada / Perdida")
              -if current_user.is_admin?
                .input-field.col.s12.fixed
                  = form.radio_button(:status, "3")
                  = form.label(:status_3, "En proceso de impresión / Enviada")                  
                .input-field.col.s12.fixed
                  = form.radio_button(:status, "4")
                  = form.label(:status_4, "Enviada e inactiva") 
            = form.submit "Modificar", :class=> "btn"

