<%= form_with(model: card, local: true) do |form| %>
  <% if card.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(card.errors.count, "error") %> prohibited this card from being saved:</h2>

      <ul>
      <% card.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :company_id %>
    <%= form.text_field :company_id, id: :card_company_id %>
  </div>

  <div class="field">
    <%= form.label :user %>
    <%= form.number_field :user, id: :card_user %>
  </div>

  <div class="field">
    <%= form.label :country %>
    <%= form.number_field :country, id: :card_country %>
  </div>

  <div class="field">
    <%= form.label :credit1 %>
    <%= form.number_field :credit1, id: :card_credit1 %>
  </div>

  <div class="field">
    <%= form.label :credit2 %>
    <%= form.number_field :credit2, id: :card_credit2 %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.number_field :status, id: :card_status %>
  </div>

  <div class="field">
    <%= form.label :credit2_enabled %>
    <%= form.check_box :credit2_enabled, id: :card_credit2_enabled %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
