
<script type="text/javascript">
  
$(".mcb").on( 'change', function() {
    if( $(this).is(':checked') ) {
        // Hacer algo si el checkbox ha sido seleccionado
        alert("El checkbox con valor " + $(this).val() + " ha sido seleccionado");
    } else {
        // Hacer algo si el checkbox ha sido deseleccionado
        alert("El checkbox con valor " + $(this).val() + " ha sido deseleccionado");
    }
});


</script>
<div class="container">
  <h1 class="center">Gestión de tarjetas y Clientes</h1>
<div class="switch row">
  <i class="material-icons">credit_card</i>Tarjetas inactivas: 
    <label>
      Ocultar
      <input type="checkbox" id="mcb" checked="checked">
      <span class="lever"></span>
      Mostrar
    </label>
  </div>


<table class="striped">
  <thead>
    <tr>
      <th>Número de tarjeta 

        <i class="material-icons tooltipped" data-tooltip="Ordenar ascendentemente">arrow_drop_up</i>
        <i class="material-icons tooltipped" data-tooltip="Ordenar descendentemente">arrow_drop_down</i>

      </th>
      <!-- <th>Código de barras</th> -->
      <th>Pin</th>
      <th>Apellido y nombre
        <i class="material-icons tooltipped" data-tooltip="Ordenar ascendentemente">arrow_drop_up</i>
        <i class="material-icons tooltipped" data-tooltip="Ordenar descendentemente">arrow_drop_down</i>
      </th>
      <th>Saldo
        <i class="material-icons tooltipped" data-tooltip="Ordenar ascendentemente">arrow_drop_up</i>
        <i class="material-icons tooltipped" data-tooltip="Ordenar descendentemente">arrow_drop_down</i>
      </th>
      <th>Estado de la tarjeta
        <i class="material-icons tooltipped" data-tooltip="Ordenar ascendentemente">arrow_drop_up</i>
        <i class="material-icons tooltipped" data-tooltip="Ordenar descendentemente">arrow_drop_down</i>
      </th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% unless @cards.count== %>
    <% @cards.each do |card| %>
      <tr>
        <td><% cod = card.country.to_s + card.number.to_s %><%= cbar = Barby::EAN13.new(cod) %></td>
        <!--<td><img src="<%= cbar.to_image.to_data_url %>"></td> -->
        <td class="tooltipped" data-tooltip="<%= card.pin %>"><i class="material-icons">security</i></td>
        <td><% unless card.user==nil %>
          <% unless @users.find_by(id: card.user).name==nil || @users.find_by(id: card.user).last_name==nil%>
          <%=  @users.find_by(id: card.user).name + " " + @users.find_by(id: card.user).last_name%>
            <% else %>
            Sin nombre
            <% end %>
            
            <% else %>
              No registrado
            <% end %>

          </td>
        <td>$ <%= (card.credit1.to_f)/100 %></td>
        <td><%= card.status %>
                <% if card.status == 1 %>
                  - ACTIVADA
                <% end %>
                <%if card.status == 2 %>
                  - ROBADA/ PERDIDA
                <% end %>
                <% if card.status == 3 %>
                  - EN PROCESO DE FABRICACIÓN / ENVÍO
                <% end %>
                <% if card.status == 4 %>
                  - ENTREGADA E INACTIVA
                <% end %>
                <% if card.status == 0 %>
                  - INACTIVA
                <% end %> 
</td>



        <td><%= link_to raw('<i class="large mdi-navigation-menu material-icons"> view_headline</i>'), company_card_transactions_path(@company,card), :class => "btn-large black tooltipped", "data-tooltip"=>"Ver movimientos"  %></td>
        <td><%= link_to raw('<i class="large mdi-navigation-menu material-icons"> monetization_on</i>'), company_card_path(@company,card), :class => "btn-large black tooltipped", "data-tooltip"=>"Recargar o Comprar"  %></td>
        <td><%= link_to raw('<i class="large mdi-navigation-menu material-icons"> offline_pin</i>'), edit_company_card_path(@company,card), :class => "btn-large black tooltipped", "data-tooltip"=>"Cambiar estado (robada, perdida, activa, inactiva)" %></td>
        <% #<td><%= link_to 'Destroy', [@company,card], method: :delete, data: { confirm: 'Are you sure?' } %>
      </tr>
    <% end %>
<% end %>
  </tbody>
</table>
</div>
<br>

<%= link_to 'Menú de gestión de empresa', company_path(@company), :class=> "btn" %>
<p>
  Descarga:
  <%= link_to "Excel", company_cards_path(format: "xlsx") %>
</p>

