.container
  .row
    .card
      .card-content
        .card-title
          %h1.center
            =@company.name
        .row
          .col.s12.m8
            %h2 Crear tarjetas
            %subtitle En esta sección se crearán las tarjetas, pero por defecto estarán INHABILITADAS. Para habilitar una tarjeta, haga una primera carga de saldo (escaneando su código de barras desde el entorno de trabajo).
        .row
          .col.s12.m8
            = form_tag company_cards_path, action: :create do
              %p
                = label_tag(:idi, "ID de cliente Inicial:")
                = label_tag(:idi, @company.clientcount+1)
              %p
                = label_tag(:cant, "Cantidad de TARJETAS a crear:")
                = text_field_tag(:cant)

              %p
                = radio_button_tag(:type, "encargo")
                = label_tag(:type_encargo, "Encargar impresión de tarjetas (20 días hábiles para su entrega / Costo: $25 por tarjeta")
              %p
                = radio_button_tag(:type, "tabla")
                = label_tag(:type_tabla, "Exportar archivo de códigos para entregar a imprenta")  
              %p
                = radio_button_tag(:type, "impresion")
                = label_tag(:type_impresion, "Exportar tarjetas en formato PDF.") 
              %p
                = submit_tag(:Crear, :class=> "btn")
        .card-actions         
          = link_to 'Menú de gestión de empresa', company_path(@company)
