:javascript
  function launchFullScreen(element) {
    if(element.requestFullScreen) {
      element.requestFullScreen();
    } else if(element.mozRequestFullScreen) {
      element.mozRequestFullScreen();
    } else if(element.webkitRequestFullScreen) {
      element.webkitRequestFullScreen();
    }
  }
  // Lanza en pantalla completa en navegadores que lo soporten
   function cancelFullScreen() {
       if(document.cancelFullScreen) {
           document.cancelFullScreen();
       } else if(document.mozCancelFullScreen) {
           document.mozCancelFullScreen();
       } else if(document.webkitCancelFullScreen) {
           document.webkitCancelFullScreen();
       }
   }


-unless notice==nil
  -if notice[0,3]=="*T*"
    .container
      .card.green
        %h1.white-text <i class="material-icons">done</i> Transacción correcta

        %strong.white-text
          =notice


.container
  .row
    
    -if @paso==2	
      -if @error!= nil
        .card
          %strong Se produjo un error:
          %p
            =@error
          %p
            =link_to "Volver a carga", company_panel_path(@company), :class=> "btn"
      -else
        %h1 Acredite o debite los puntos correspondientes
        =render 'form', card: @card
      
    -if @paso==1
      .card
        :javascript
          setInterval('q()',500);
          function q(){
            document.getElementById("q").focus();
          }
        %h1 Escanee la tarjeta o ingrese el número de cliente
        = form_tag(company_panel_path(@company), method: "get") do
          = label_tag(:q, "Ingrese número de tarjeta o número de cliente:")
          = text_field_tag(:q)
          .center
            = submit_tag("Buscar", :class=>"btn")

    -if @paso==3
      %h1 Cargando cambios ...

    .row
      .col.s12.m6
        = link_to 'Volver', company_path(@company), :class=>"btn"
      .col.s12.m6
        .right   
          %button{:onclick=>"launchFullScreen(document.documentElement);"}
            %i.material-icons
              fullscreen
          %button{:onclick=>"cancelFullScreen();"}
            %i.material-icons
              fullscreen_exit