:javascript
  function launchFullScreen(element) {
    if(element.requestFullScreen) {
      element.requestFullScreen();
    } else if(element.mozRequestFullScreen) {
      element.mozRequestFullScreen();
    } else if(element.webkitRequestFullScreen) {
      element.webkitRequestFullScreen();
    }
  }
  // Lanza en pantalla completa en navegadores que lo soporten
   function cancelFullScreen() {
       if(document.cancelFullScreen) {
           document.cancelFullScreen();
       } else if(document.mozCancelFullScreen) {
           document.mozCancelFullScreen();
       } else if(document.webkitCancelFullScreen) {
           document.webkitCancelFullScreen();
       }
   }


-unless notice==nil
  -if notice[0,3]=="*T*"
    .container
      .card.green
        %h1.white-text <i class="material-icons">done</i> Transacción correcta

        %strong.white-text
          =raw(notice)



.container
  .row
    
    -if @paso==2	
      -if @error!= nil
        .cajita.col-xs-12.center-xs
          %h1 Se produjo un error:
          %p
            =@error
          %p
            -if @mobile == true
              =link_to "Volver a cargar", company_panel_path(@company, :mobile => true), :class=> "btn lime"
            -else
              =link_to "Volver a cargar", company_panel_path(@company), :class=> "btn lime"
      -else
        %h1 Acredite o debite los puntos correspondientes
        =render 'form', card: @card
      
    -if @paso==1

      .cajita.col-xs-12.center-xs
        .col-xs-12.center-xs
          -if @mobile==true
            %h1 Tome una fotografía al código de barras...
            =render partial: 'file_input'
            %h1 O ingrese el número de la tarjeta
          -else
            :javascript
              setInterval('q()',500);
              console.log('PC');
              function q(){
                document.getElementById("q").focus();
              }
            %h1 Ingrese el número de la tarjeta
        .col-xs-12.center-xs
          = form_tag(company_panel_path(@company), method: "get", id: "query") do
            = label_tag(:q, "Ingrese número de tarjeta o número de cliente:")
            = text_field_tag(:q)
            -if @mobile==true
              =hidden_field_tag('mobile', 'true')
            .center
              = submit_tag("Buscar", :class=>"btn")


    -if @paso==3
      %h1 Cargando cambios ...

  .row
    .col-xs-12.center-xs
      = link_to 'Volver', company_path(@company), :class=>"btn"
    
      .right   
        %button{:onclick=>"launchFullScreen(document.documentElement);"}
          %i.material-icons
            fullscreen
        %button{:onclick=>"cancelFullScreen();"}
          %i.material-icons
            fullscreen_exit