= form_for([@company,@card, @transaction]) do |form|
  -if transaction.errors.any?
    #error_explanation
      %h2
        = pluralize(transaction.errors.count, "error")
        prohibited this transaction from being saved:
      %ul
        -transaction.errors.full_messages.each do |message|
          %li
            = message
  .field

    = form.label "Monto en CENTAVOS"
    = form.number_field :amount, id: :transaction_amount
  .actions
    = form.submit "Confirmar",:class=> "btn"
.row.red.center
  .white-text
    %strong No olvide que debe ingresar la cantidad en centavos.
    %br
    Por ejemplo, 25 para recargar $0,25
    %br
    125 para recargar $1,25
    %br
    10000 para recargar $100
    %br
    %strong También debe anteponer el signo menos (-) para debitar una compra.
    %br
    Por ejemplo, -250, para debitar una compra de $2,50.