<p id="notice"><%= notice %></p>

<h1>Transactions</h1>

<table>
  <thead>
    <tr>
      <th>Card</th>
      <th>Company</th>
      <th>User</th>
      <th>Amount</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @transactions.each do |transaction| %>
      <tr>
        <td><%= transaction.card %></td>
        <td><%= transaction.company %></td>
        <td><%= transaction.user %></td>
        <td><%= transaction.amount %></td>
        <td><%= transaction.description %></td>
        <td><%= link_to 'Show', company_card_transaction_path(@company,@card,transaction) %></td>
        <td><%= link_to 'Edit', edit_company_card_transaction_path(@company,@card,transaction) %></td>
        <td><%= link_to 'Destroy', company_card_transaction_path(@company,@card,transaction), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Transaction', new_company_card_transaction_path %>
