%h1 Movimientos
.container
  .col.s12.m8.l6
    %table.striped
      %thead
        %tr
          %th Fecha
          %th Hora
          %th Tipo de operación
          %th Monto
          %th Descripción
          %th{:colspan=>"3"}

      %tbody
        - @transactions.each do |transaction|
          %tr
            %td
              = transaction.created_at.strftime("%d/%m/%Y")
            %td
              = transaction.created_at.strftime("%H:%M")
            %td
              - monto = transaction.amount
              -if monto<0
                .red-text Compra
                %td.red-text
                  $
                  = (monto.to_f/100).abs
              -else
                .green-text Recarga
                %td.green-text
                  $
                  = (monto.to_f/100).abs
            %td
              = transaction.description 

    = link_to 'Volver', root_path, :class=> "btn"
