%h1.center Movimientos
.container.cajita
  .col.s12.m8.l6
    %table.striped
      %thead
        %tr
          %th Fecha
          %th Hora
          %th Tipo de operación
          %th Monto
          %th{:colspan=>"3"}

      %tbody
        - @transactions.each do |transaction|
          %tr
            %td
              = transaction.created_at.strftime("%d/%m/%Y")
            %td
              = transaction.created_at.strftime("%H:%M")
            %td
              %small
                = transaction.description 
              - monto = transaction.amount
              -unless monto == nil
                -if monto<0
                  .red-text Compra
                  %td.red-text
                    $
                    = (monto.to_f/100).abs
                -else
                  .green-text Recarga
                  %td.green-text
                    $
                    = (monto.to_f/100).abs

    .center
      = link_to 'Volver', :back, :class=> "btn"
