%html
  %head
    %title Praemium
    = csrf_meta_tags

    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = favicon_link_tag
    %meta{ :name=>"viewport", :content=>"width=device-width, initial-scale=1.0"}
    
    
    :javascript
      $(document).ready(function(){
      $('.modal').modal();
      });

    :javascript
      $(document).ready(function(){
        $('.fixed-action-btn').floatingActionButton();
        $('.fixed-action-btn').openFAB();
        $('.tooltipped').tooltip();
      });
    :javascript
      $(document).ready(function(){
        $('.parallax').parallax();
        $('.collapsible').collapsible();
        $('.carousel-slider').slider({full_width: true});//slider init
        $('.carousel').carousel();
        $(".button-collapse").sideNav();
        $('.scrollspy').scrollSpy();
      });
      $( window ).load(function() {
        $('.parallax').parallax();
        $('.carousel').carousel();
        $(".button-collapse").sideNav();
        $('.carousel-slider').slider({full_width: true});//slider init
        $('.scrollspy').scrollSpy();
      });
    %link{:rel=>"manifest", :href=>"#{asset_path "manifest.json"} "}
    =render partial: "layouts/facebooksdk"
  %body
    =render partial: "layouts/sidenav"
    =render partial: "layouts/praemium_nav"
    -unless notice==nil
      .row.center-xs         
        -if notice[0,2]=="**"
          .card.red
            %h1.white-text <i class="material-icons">error</i> Ocurrió un error

            %strong.white-text
              =notice
          #noticia.modal.modal-fixed-footer
            .modal-content
              %h4 Epa! Hubo un error
              %p
                =notice
            .modal-footer.center
              %a.modal-action.modal-close.waves-effect.btn-flat Cerrar
            %script
              noticia.open();
        -else
          -if notice[0,3]=="*T*"
          -else
            .chip.center
              = notice
    = yield
    =render partial: "layouts/footer"