%html
  %head
    %title Praemium
    = csrf_meta_tags

    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = favicon_link_tag


  %body
    %nav
      .nav-wrapper.white
        .brand-logo.center
          =image_tag("logoh.png", :width => 250)

        -if user_signed_in?
          %ul#nav-mobile.right.hide-on-med-and-down
            %li
              =link_to "Cerrar sesión", destroy_user_session_path, method: :delete, class: "btn"
            %li
              =link_to "Perfil", edit_user_registration_path, class: "btn" # Cerrar sesión
        -else
          %ul.right.hide-on-med-and-down
            %li
              =link_to "Iniciar sesión", new_user_session_path
    %col.s12.red-text
      = notice
    = yield