%html
  %head
    %title Praemium
    = csrf_meta_tags

    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = favicon_link_tag
    %script{:type=>"text/javascript", :src=>"https://code.jquery.com/jquery-3.2.1.min.js"}
    %script{:type=>"text/javascript", :src=>"js/materialize.min.js"}



  %body
    %nav
      .nav-wrapper.white
        .brand-logo.center
          =image_tag("logoh.png", :width => 250)

        -if user_signed_in?
          %ul#nav-mobile.right.hide-on-med-and-down
            %li
              =link_to "Cerrar sesión", destroy_user_session_path, method: :delete, class: "btn"
            %li
              =link_to "Perfil", user_path(current_user.id), class: "btn" # Cerrar sesión
            %li
              %a{:href=>"#", "data-activates"=>"slide-out", :class=>"btn button-collapse"} Menu
        -else
          %ul.right.hide-on-med-and-down
            %li
              =link_to "Iniciar sesión", new_user_session_path
    %col.s12.red-text
    =render partial: "layouts/sidenav"
    .container
      .row.center
        -unless notice==nil
          .chip.center
            = notice
    = yield