%html
  %head
    %title Praemium
    = csrf_meta_tags

    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
 
    %meta{ :name=>"viewport", :content=>"width=device-width, initial-scale=1.0"}
    
    
    :javascript
      $(document).ready(function(){
      $('.modal').modal();
      });
    :javascript
      $('.dropdown-button').dropdown({
        inDuration: 300,
        outDuration: 225,
        constrainWidth: false, // Does not change width of dropdown to that of the activator
        hover: true, // Activate on hover
        gutter: 0, // Spacing from edge
        belowOrigin: false, // Displays dropdown below the button
        alignment: 'left', // Displays dropdown with edge aligned to the left of button
      }
      );
    :javascript
      $(document).ready(function(){
        $('.fixed-action-btn').floatingActionButton();
        $('.fixed-action-btn').openFAB();
        $('.tooltipped').tooltip();
      });
    :javascript
      $(document).ready(function(){
        $('.parallax').parallax();
        $('.collapsible').collapsible();
        $('.carousel-slider').slider({full_width: true});//slider init
        $('.carousel').carousel();
        $(".button-collapse").sideNav();
        $('.scrollspy').scrollSpy();
      });
      $( window ).load(function() {
        $('.parallax').parallax();
        $('.carousel').carousel();
        $(".button-collapse").sideNav();
        $('.carousel-slider').slider({full_width: true});//slider init
        $('.scrollspy').scrollSpy();
      });
    %link{:rel=>"manifest", :href=>"#{asset_path "manifest.json"} "}
    =render partial: "layouts/facebooksdk"
  %body
    =render partial: "layouts/sidenav"

    = yield

    =render partial: "layouts/footercompanies"